<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Experiencia</title>
</head>
<body>
    <div class="padre">
        <div class="menu">
            <ul>
                <li>    
                    <a href="/">Home</a>
                </li>
                
                <li>    
                    <a href="/descripcion">Descripcion</a>
                </li>
    
                <li>
                    <a href="/estudios">Estudios</a>
                </li>
                <li>
                    <a href="/experiencia">Experiencia</a>
                </li>
                <li>
                    <a href="/aptitudes">Aptitudes</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul> <br>

        </div>
        <div class="cont-est">
            <h1>Luna Gómez Barrera</h1>
            <img src="/img/perfil.jpg" class="imagenP">
            <h3>Experiencia</h3>
            <div class="cont-exp">
                Actualmento no poseo ninguna experiencia trabajando en proramación
            </div>

        </div>

    </div>
</body>
</html>