<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio</title>
</head>
<body>
    <div class="padre">
        <div class="menu">
            <ul>
                <li>    
                    <a href="/">Home</a>
                </li>
                
                <li>    
                    <a href="/descripcion">Descripcion</a>
                </li>
    
                <li>
                    <a href="/estudios">Estudios</a>
                </li>
                <li>
                    <a href="/experiencia">Experiencia</a>
                </li>
                <li>
                    <a href="/aptitudes">Aptitudes</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul> <br>
        </div>
        <div class="contenedor-main">
            <main>
                <h1>Hoja de Vida</h1>
                <img src="/img/perfil.jpg" class="imagenP">
                <h3>Luna Gómez Barrera</h3>
            </main>
            <div class="contenedor-in">
                <b>Correo:</b> luvagoba@gmail.com <br>
                <br>
                <b>Cel:</b> 313-832-59-91 <br>
            </div>

        </div>
    </div>
    
</body>
</html>